Richards portion


# Lets talk Data

### Gathering the Data

There are five datasets that will be used in testing the hypothesis. The focus will be on Japan's GDP per capita to measure its economic state. The remaining four sets include data on Japan's marriages, single-person home rentals, population of elderly 65 and over, and population of youth 15 and under. 

All data used was downloaded from two sources, the links to the datasets can be found below.<br>
<a href="http://data.worldbank.org/indicator/NY.GDP.PCAP.CD?end=2015&locations=JP&start=1960&view=chart">Worldbank</a>: Source for economic data.<br>
<a href="https://knoema.com/urvzrr/japan-regional-dataset-may-2015?tsId=1063510">Knoema</a>: Source of marriages, single-person hoem rentals, and population data.

### Cleaning the Data

All five sources of data used are in a format that has more than what is needed for this hypothesis. The data corresponding to the GDP shows information about all countries versus that of just Japan. It also has table elements which are unnecessary need including "Country Code", "Indicator Name", and "Indicator Code". The data taken from Knoema shows information for each region of Japan instead of the country as a whole. It is also formatted such that each region has its own row per year and there are extra table elements including "indicator" and "Unit". <br><br>
Below two examples will be shown of the uncleaned data. First all the corresponding modules will be uploaded and a function will be written to convert .csv datasets into matrices.

In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# converts .csv file to matrix
def convertCSV(file):
    matrix = []
    
    with open(file, 'rt') as csvfile:
        reader=csv.reader(csvfile, delimiter=',')
        matrix = [row for row in reader]
        
    return matrix

# create all matrices from corresponding datasets
marriageData = convertCSV("Marriages.csv")
singleHomeData = convertCSV("One-Person_Household.csv")
gdpData = convertCSV("GDP.csv")
under15Data = convertCSV("Pop15Under.csv")
over65Data = convertCSV("Pop65Older.csv")

The first example is of Japan's GDP per capita dataset.

In [2]:
pd.DataFrame(gdpData)

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,
1,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,27549.8894224976,24640.4212441218,24289.1415161326,25353.7875446441,,,,,,
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7876806182323,59.8900370439272,58.5059949855131,78.8025868928114,82.2313944485018,101.321627039285,...,384.131681276838,458.955781585831,569.940728793286,622.379654358451,690.842629014956,653.347488111011,633.947864294639,594.323081219966,,
3,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,4242.36306234092,3678.94765447179,3886.47935432524,4744.98762949589,5086.8484258086,5327.14889219232,5232.76230029543,4101.47215182964,,
4,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,4370.53964653148,4114.13654490945,4094.35883191918,4437.8119990258,4247.83985201907,4412.34557813421,4568.56882650826,3945.21758150914,,
5,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,46734.2682819437,42704.0194268188,39641.746008498,41627.4629979063,39666.043036198,42804.2026352761,,,,
6,Arab World,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,6166.08994924019,5202.17464678813,5956.43553047042,6915.48192021738,7410.84143596553,7516.36630072339,7519.68999975082,6537.30111768479,,
7,United Arab Emirates,ARE,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,45720.0178979792,32905.0538494054,34341.9112921486,39901.2209155518,41712.3979484395,42986.6646116366,44238.5997740128,40438.7629344394,,
8,Argentina,ARG,GDP per capita (current US$),NY.GDP.PCAP.CD,,,1148.57995706663,845.076988776833,1166.31755895322,1272.01055309131,...,8953.47656361728,8161.46019629171,10276.5132733671,12727.2942400407,12970.1739015416,12977.1309231495,12245.6806734551,13467.4156409228,,
9,Armenia,ARM,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3919.97547381061,2915.5839059087,3124.78401786195,3417.17183599915,3565.5175749254,3716.82892254464,3861.91557044458,3489.12768956995,,
10,American Samoa,ASM,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,9871.82409566727,12058.4782840679,10353.0088431951,10376.7445223805,11660.9629347964,11554.7358142563,11509.1820904138,11541.6471605027,,
11,Antigua and Barbuda,ATG,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,15786.1728395062,13979.2626925883,13017.3103875487,12817.8415733094,13525.616220134,13342.0849977054,13432.0792079208,13714.7319616988,,
12,Australia,AUS,GDP per capita (current US$),NY.GDP.PCAP.CD,1806.80487639292,1873.45009156626,1851.00778167675,1963.22996587488,2127.1657387955,2276.57495341523,...,49628.1151270179,42715.1322619629,51845.6548605562,62216.5471294133,67646.1038529626,67652.6832146189,62004.7931943463,56290.6468086817,,
13,Austria,AUT,GDP per capita (current US$),NY.GDP.PCAP.CD,935.460426850415,1031.8150043291,1087.8342434189,1167.00053244585,1269.41258289256,1374.53213986075,...,51386.3766511975,47654.1872090808,46659.8408181344,51123.5613291663,48333.572726737,50504.7153221994,51322.6399728758,43636.753701877,,
14,Azerbaijan,AZE,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,5574.60380218613,4950.29479142375,5842.80578358576,7189.69122920765,7393.77187697623,7811.6214184582,7886.45914367274,5497.48841371164,,
15,Burundi,BDI,GDP per capita (current US$),NY.GDP.PCAP.CD,70.3330737707859,71.4694334374862,73.7603276547671,78.8741608924455,86.5716236984791,51.6379367564512,...,182.687801252318,190.394203666589,214.230990840075,240.614483459126,244.19648623151,259.365208150184,286.002335872952,277.068309170914,,
16,Belgium,BEL,GDP per capita (current US$),NY.GDP.PCAP.CD,1273.69165910289,1350.19767333123,1438.5232330684,1535.02372901043,1701.84627554319,1835.59476553194,...,48424.5892730273,44880.5601517887,44382.8797683492,47699.8070518961,44740.5717021938,46508.1305921633,47346.7573844974,40454.169971736,,
17,Benin,BEN,GDP per capita (current US$),NY.GDP.PCAP.CD,93.0225855014394,95.5669226667227,94.4518553431204,99.8404246691487,104.323752150419,110.132626482936,...,794.870176064085,768.013476447657,732.953622726674,799.03555913143,811.216240825005,887.089966726358,915.926640778784,762.051205441965,,
18,Burkina Faso,BFA,GDP per capita (current US$),NY.GDP.PCAP.CD,68.4247060632417,71.5582093322122,76.5206268252379,78.3721187055041,80.4727351807135,81.7251312881945,...,567.73418665644,537.263428705537,575.011881752413,667.17341945712,673.06251119393,698.335034928403,696.856206759424,589.774414136617,,
19,Bangladesh,BGD,GDP per capita (current US$),NY.GDP.PCAP.CD,88.689453391453,97.1411474898997,99.5758023900608,101.26014812563,99.5033311720445,105.787309773651,...,618.075883559283,683.614422272329,760.331935200195,838.547801702232,858.933362587621,954.396399715624,1086.80008676935,1211.70153057661,,
20,Bulgaria,BGR,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,7296.12247858585,6955.98773253421,6843.26328885315,7813.80349946173,7378.02553944156,7674.86055914027,7853.33519086217,6993.47735975728,,
21,Bahrain,BHR,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,23043.0253174017,19166.7082382358,20386.0175551116,22033.9106201625,23057.7675759542,24113.5248437757,24514.9991306142,22600.2140981035,,
22,"Bahamas, The",BHS,GDP per capita (current US$),NY.GDP.PCAP.CD,1550.35262466106,1651.47547707967,1752.97029278086,1867.14231443416,1994.55983804174,2144.90754566434,...,23657.365306222,22043.0125711709,21920.5165867583,21514.8986531628,22554.5157201628,22554.4541222366,22497.4497068298,22817.2308572518,,
23,Bosnia and Herzegovina,BIH,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,4974.66226666137,4586.20631315947,4475.08813004565,4860.78181134244,4494.64064038047,4748.04069226421,4852.31864873611,4249.3303131949,,
24,Belarus,BLR,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,6376.18315298455,5176.17264927017,5818.49741095547,6305.65917146233,6721.48335086534,7722.12579792925,8032.49489112848,5754.60193910805,,
25,Belize,BLZ,GDP per capita (current US$),NY.GDP.PCAP.CD,304.90385978004,316.410288303035,327.110072611309,336.934738453165,351.157719253687,377.587188868651,...,4473.41790859737,4263.80711218649,4348.01953874968,4522.86186187855,4674.29344667534,4723.5943547037,4884.36856220286,4878.72126724745,,
26,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,1902.4021189224,1961.5381692465,2020.38596503345,2020.26524752445,2199.72700691179,2282.21654616239,...,93605.7481653976,88463.3128161375,88207.3275597322,85973.158416455,85458.455507886,85748.0654143782,,,,
27,Bolivia,BOL,GDP per capita (current US$),NY.GDP.PCAP.CD,152.461763245467,162.695618994955,174.493431450859,184.275440828384,203.601251487559,223.278329931788,...,1736.92741046673,1776.86091188357,1981.16631274669,2377.70694037817,2645.29199871713,2948.03247234224,3124.08543446758,3076.79181060881,,
28,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,209.198785141057,203.955154168234,258.757668537358,290.058284142306,259.46696881361,259.004152120965,...,8706.81914190374,8474.87852307799,11121.4180921177,13047.2426707089,12179.6906214678,12106.2100365736,11917.7904278216,8677.7681070797,,
29,Barbados,BRB,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,16570.5593507827,16523.3829717259,15906.1893174632,15534.1733043761,15385.1163692956,15473.0980649523,15360.0618007811,15429.3404640853,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Latin America & the Caribbean (IDA & IBRD coun...,TLA,GDP per capita (current US$),NY.GDP.PCAP.CD,363.033841870832,374.355918592948,419.445943180531,409.28629886027,441.989501834729,463.036026776024,...,7728.64987266605,7151.48305355588,8825.90339986882,9942.73562498259,9908.34656318752,10038.1122850097,9926.74992288155,8336.00241072334,,
236,Timor-Leste,TLS,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,673.188381195346,793.797818639755,892.044626826421,1065.32838654717,1173.2403209942,1161.76620340649,1208.78551185457,1216.8814912662,,
237,Middle East & North Africa (IDA & IBRD countries),TMN,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3849.12747194488,3636.68319884829,4125.51072825676,4690.6371042224,4863.67603665794,4686.65061829417,4418.54035007888,,,
238,Tonga,TON,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3398.88391465359,3076.42905684207,3554.07545539972,4052.18731315284,4509.36233974216,4274.22682370733,4200.13204482265,4098.54392925825,,
239,South Asia (IDA & IBRD),TSA,GDP per capita (current US$),NY.GDP.PCAP.CD,83.3498411276829,87.0515527040709,90.9527731610265,100.166732513234,112.266701008232,117.966597513715,...,957.837751308451,1037.31324751998,1253.65952153788,1375.12661409123,1372.14985805402,1387.90309188259,1496.50834824498,1538.45028325236,,
240,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP per capita (current US$),NY.GDP.PCAP.CD,132.22562686232,134.122096947198,142.071397529074,159.097853240464,151.214118383307,164.403212393556,...,1286.55187070236,1197.83944293541,1554.41404514558,1701.70780932067,1736.70880217228,1777.29203278473,1794.73032556784,1594.17229223022,,
241,Trinidad and Tobago,TTO,GDP per capita (current US$),NY.GDP.PCAP.CD,631.328371229215,675.977526771172,703.756620413903,759.86714002422,788.127349851728,807.270411867958,...,21188.118565877,14508.8137365799,16684.0085959244,19053.9421222077,19152.1814885574,19607.9491791503,19325.3855038908,17321.884675056,,
242,Tunisia,TUN,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,218.035970696938,...,4309.7803733697,4129.82818446398,4140.43856708156,4257.94033290182,4139.53810971462,4202.87029943091,4276.96039934092,3822.35600617151,,
243,Turkey,TUR,GDP per capita (current US$),NY.GDP.PCAP.CD,507.927470613635,284.180790166576,308.620783518989,349.884755582392,368.989179561032,385.302583835901,...,10382.145324304,8624.17218646889,10111.1925071277,10538.7234931882,10539.3654471072,10800.5423536698,10303.6987055756,9125.68758972936,,
244,Tuvalu,TUV,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3094.62809172302,2763.16030537848,3238.37576273905,3993.50025430234,4044.19378022487,3880.35232167543,3766.26806049536,3295.00582293413,,
245,Tanzania,TZA,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,657.728743357642,665.344002868127,708.521932325363,740.383900829825,827.52888076909,909.330141239446,957.934534330474,878.97510552608,,
246,Uganda,UGA,GDP per capita (current US$),NY.GDP.PCAP.CD,62.3151498596957,63.0151973245158,62.0169842519051,68.9354168940557,76.0447766161912,110.410835426218,...,459.109775900068,566.33425045145,608.954866048332,597.515903285596,664.005154577291,683.343153158018,734.744015300391,705.292569535068,,
247,Ukraine,UKR,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3891.03782318207,2545.4803410735,2965.14236549771,3569.75702740477,3855.4212801318,4029.71550372131,3104.65829575449,2114.95471628444,,
248,Upper middle income,UMC,GDP per capita (current US$),NY.GDP.PCAP.CD,184.861618418442,167.928295920454,174.068105217431,177.914466877788,196.224395846902,214.004587115426,...,5509.83204598602,5263.57990941612,6332.29701025925,7524.8237064607,7958.29447179583,8404.70789433774,8576.50106949719,7953.74503463819,,
249,Uruguay,URY,GDP per capita (current US$),NY.GDP.PCAP.CD,489.350135974915,601.70090920709,656.71223997392,584.290984588931,741.24385220931,701.705238990108,...,9062.29053539323,9415.15358273437,11938.2750545308,14166.5576672224,15092.4720593331,16881.3840005323,16737.973100697,15573.9009191818,,
250,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,3007.12344537862,3066.56286916615,3243.84307754988,3374.51517105082,3573.94118474743,3827.52710972039,...,48401.4273403899,47001.5553496818,48374.0867933094,49781.8006563523,51433.0470904727,52749.911239512,54539.6655752119,56115.7184261955,,
251,Uzbekistan,UZB,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,1082.28602501699,1213.26532816388,1377.08214046938,1564.96694510875,1740.4682979775,1907.55123335561,2036.69172343054,2132.11124027346,,
252,St. Vincent and the Grenadines,VCT,GDP per capita (current US$),NY.GDP.PCAP.CD,161.419155243924,170.430991116887,174.565283264933,162.869284852427,173.470900703455,175.734046336071,...,6370.43788624423,6177.49742786583,6231.71322553846,6183.67682211986,6337.76995939727,6596.78897388704,6656.11571703379,6739.17483286945,,
253,"Venezuela, RB",VEN,GDP per capita (current US$),NY.GDP.PCAP.CD,1072.43225984285,1070.48682178644,1140.08274757439,1185.48396609272,961.455764962002,966.568978580345,...,11224.6467026883,11534.8406001136,13581.3533771018,10754.5928790654,12771.5950361107,12265.03113567,,,,
254,British Virgin Islands,VGB,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,,,,,,,,,,
255,Virgin Islands (U.S.),VIR,GDP per capita (current US$),NY.GDP.PCAP.CD,756.25,753.66568914956,1016.52892561983,1069.76744186047,1302.66343825666,1511.36363636364,...,39685.8746299876,39388.2313250302,40831.1140805706,40072.2226423656,38898.1239610544,35937.634264873,34789.2867428242,36350.8216347732,,
256,Vietnam,VNM,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,1164.61252461712,1232.3696735953,1333.58352396677,1542.67043610149,1754.5479738641,1907.56438167972,2052.31908380089,2110.91934424843,,
257,Vanuatu,VUT,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,2698.02124012432,2643.47578534313,2965.75223011673,3275.02398203673,3158.4209735273,3167.05530330465,3147.96377889252,2805.31464353567,,
258,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,450.522013332981,462.449162274856,488.269353541412,514.962142455572,552.861504933868,590.264297601207,...,9372.50557499851,8776.96304265529,9510.79937451498,10444.3470041206,10535.5772642204,10699.7939926334,10833.4129424617,10112.3285332837,,
259,Samoa,WSM,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3375.82163966041,3165.70666060561,3530.57399435316,4065.9559198279,4257.30572854147,4179.59768103648,4172.21710037661,3938.54884570316,,
260,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,3254.86067369521,3209.69410857047,3283.21193843172,3736.84099938332,3600.88700027693,3877.54058097981,4053.62891333046,3552.38516489487,,
261,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,,,,,,,...,1205.53752759716,1094.79945541411,1310.05367135994,1350.3816340536,1422.72377912034,1582.84925225743,1650.97459711297,1406.2916511457,,
262,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,423.254819703243,433.759964599655,451.345173311736,487.767024796856,521.615787388392,555.284601922401,...,5786.59993154904,5888.60179436754,7362.76138986481,8049.95422376738,7548.43974975009,6895.14385983391,6488.01687525083,5718.24473197237,,
263,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,233.802227581055,221.546099043197,213.889146527643,214.997629513316,243.36440605873,304.200100418139,...,1365.72120522548,1134.77299782945,1456.12682574588,1635.58795373922,1724.76454828885,1839.51870940434,1726.99284405704,1304.87901447726,,
264,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,280.618592417099,282.885995545625,278.963682355273,280.020908982893,284.407209057191,296.561884629405,...,327.199083662345,594.495968478092,674.268695411166,768.556409302399,850.827696604891,905.500321786172,931.19818468692,924.143819253412,,

The second example is of Japan's marriage dataset.

In [3]:
pd.DataFrame(marriageData)

              0          1       2     3      4
0     ﻿"region"  indicator    Unit  Date  Value
1       Saitama  Marriages  Number  1975  42340
2       Saitama  Marriages  Number  1976  38871
3       Saitama  Marriages  Number  1977  36518
4       Saitama  Marriages  Number  1978  34730
5       Saitama  Marriages  Number  1979  34869
6       Saitama  Marriages  Number  1980  34708
7       Saitama  Marriages  Number  1981  34580
8       Saitama  Marriages  Number  1982  34670
9       Saitama  Marriages  Number  1983  34087
10      Saitama  Marriages  Number  1984  33026
11      Saitama  Marriages  Number  1985  33446
12      Saitama  Marriages  Number  1986  33089
13      Saitama  Marriages  Number  1987  34197
14      Saitama  Marriages  Number  1988  36220
15      Saitama  Marriages  Number  1989  38085
16      Saitama  Marriages  Number  1990  39234
17      Saitama  Marriages  Number  1991  41597
18      Saitama  Marriages  Number  1992  43177
19      Saitama  Marriages  Number  1993  46036
20      Saitama  Marriages  Number  1994  45313
21      Saitama  Marriages  Number  1995  46224
22      Saitama  Marriages  Number  1996  44934
23      Saitama  Marriages  Number  1997  43551
24      Saitama  Marriages  Number  1998  44110
25      Saitama  Marriages  Number  1999  42858
26      Saitama  Marriages  Number  2000  45636
27      Saitama  Marriages  Number  2001  45720
28      Saitama  Marriages  Number  2002  42946
29      Saitama  Marriages  Number  2003  41979
...         ...        ...     ...   ...    ...
1804  Yamanashi  Marriages  Number  1984   4789
1805  Yamanashi  Marriages  Number  1985   4994
1806  Yamanashi  Marriages  Number  1986   4786
1807  Yamanashi  Marriages  Number  1987   4542
1808  Yamanashi  Marriages  Number  1988   4739
1809  Yamanashi  Marriages  Number  1989   4759
1810  Yamanashi  Marriages  Number  1990   4855
1811  Yamanashi  Marriages  Number  1991   5041
1812  Yamanashi  Marriages  Number  1992   5167
1813  Yamanashi  Marriages  Number  1993   5458
1814  Yamanashi  Marriages  Number  1994   5321
1815  Yamanashi  Marriages  Number  1995   5314
1816  Yamanashi  Marriages  Number  1996   5311
1817  Yamanashi  Marriages  Number  1997   5045
1818  Yamanashi  Marriages  Number  1998   5061
1819  Yamanashi  Marriages  Number  1999   5094
1820  Yamanashi  Marriages  Number  2000   5353
1821  Yamanashi  Marriages  Number  2001   5271
1822  Yamanashi  Marriages  Number  2002   4819
1823  Yamanashi  Marriages  Number  2003   4806
1824  Yamanashi  Marriages  Number  2004   4583
1825  Yamanashi  Marriages  Number  2005   4531
1826  Yamanashi  Marriages  Number  2006   4588
1827  Yamanashi  Marriages  Number  2007   4454
1828  Yamanashi  Marriages  Number  2008   4392
1829  Yamanashi  Marriages  Number  2009   4226
1830  Yamanashi  Marriages  Number  2010   4221
1831  Yamanashi  Marriages  Number  2011   3922
1832  Yamanashi  Marriages  Number  2012   3923
1833  Yamanashi  Marriages  Number  2013   3961

[1834 rows x 5 columns]

As you can see there are many extra rows and elements that are out of the scope of the hypothesis and are of no benefit. A seperate approach will be taken to clean the data for the GDP dataset versus the remaining four.

##### GDP Per Capita Dataset
To begin cleaning the GDP dataset the row with Japan must first be extracted. Then only the columns regarding the year will be considered and the GDP values will be converted to two decimal places. The data in this set starts from 1960, however our remaining datasets start from 1975 so we will filter the unrelated years out. The rows and columns of the table will then be labeled to match the corresponding data.

In [4]:
# stores Japan's data
japanGDP = []

# find Japan in dataset, store value
for row in gdpData:
    if row[0] == "Japan":
       japanGDP = row

# extract columns 4 to 60 (years)
japanGDP = japanGDP[19:60]

# convert values to two decimal places
for index in range(len(japanGDP)):
    japanGDP[index] = format(float(japanGDP[index]), '.2f')

# create dataframe, set corresponding row and column values
gdpFrame = pd.DataFrame(japanGDP)
gdpFrame.columns = ['GDP Per Capita']
gdpFrame.index = range(1975, 2016)
gdpFrame.index.name = 'Year'
gdpFrame

     GDP Per Capita
Year
1975        4581.57
1976        5111.30
1977        6230.34
1978        8675.01
1979        8953.59
1980        9307.84
1981       10212.38
1982        9428.87
1983       10213.96
1984       10786.79
1985       11465.73
1986       16882.27
1987       20355.61
1988       24592.77
1989       24505.77
1990       25123.63
1991       28540.77
1992       31013.65
1993       35451.30
1994       39268.57
1995       43440.37
1996       38436.93
1997       35021.72
1998       31902.77
1999       36026.56
2000       38532.04
2001       33846.47
2002       32289.35
2003       34808.39
2004       37688.72
2005       37217.65
2006       35433.99
2007       35275.23
2008       39339.30
2009       40855.18
2010       44507.66
2011       48173.93
2012       48629.20
2013       40488.24
2014       38139.42
2015       34523.70

##### Marriage, Single-Household, and Population Datasets
The remaining four datasets were all taken from the same source so the tables are all formatted the same. A function will be created to clean the datasets since all four will be almost identical. The only difference will be with the single home data because that was recorded every 5 years versus every year. For these sets the regions will all be combined per year and there will be a total number for the entire country per year. The extra table elements "region", "indicator", and "Unit" will all be removed and new table labels will be created to represent the data.

In [20]:
# cleans datasets from knoema.com
# Parameters:
#    dataset: dataset to clean
#    yearIncrement: how many years each dataset is apart
def cleanKnoemaData(dataset, yearIncrement):
    
    # all years in dataset
    years = {}
    
    # creates list of years according to dataset
    if yearIncrement == 1:
        for year in range(1975,2014):
            years[year] = 0
    else:
        for year in range(1975,2011,5):
            years[year] = 0
       
    # indices of year and value in table
    yearIndex = 3
    valueIndex = 4
    
    # search dataset for each year
    for year in years:
        
        # sum values of all the same years
        for row in range(0,len(dataset)):
            
            # years match
            if dataset[row][yearIndex] == str(year):
                #  sum total for corresponding year in dictionary
                years[year] += int(dataset[row][valueIndex])
    
    # sort years in dictionary
    #sortedYears = sorted(years)
        
    # create sorted list of years and values
    cleanedData = []
    for year in sorted(years):
        cleanedData.append( [year,years[year]])
  
    # save rows and columns then create dataframe
    cleanColumns = [i[0] for i in cleanedData]
    cleanRows = [i[1] for i in cleanedData]
    frame = pd.DataFrame(cleanRows)
    frame.index = cleanColumns
    frame.index.name = "Year"
        
    return frame


# create dataframes and set column names
marriageFrame = cleanKnoemaData(marriageData, 1)
marriageFrame.columns = ["Marriages"]

under15Frame = cleanKnoemaData(under15Data, 1)
under15Frame.columns = ["Total Under 16"]

over65Frame = cleanKnoemaData(over65Data, 1)
over65Frame.columns = ["Total Over 64"]

singleHomeFrame = cleanKnoemaData(singleHomeData, 5)
singleHomeFrame.columns = ["Single Homes"]

In [22]:
marriageFrame

      Marriages
Year
1975     941628
1976     871543
1977     821029
1978     793257
1979     788505
1980     774702
1981     776531
1982     781252
1983     762552
1984     739991
1985     735850
1986     710962
1987     696173
1988     707716
1989     708316
1990     722138
1991     742264
1992     754441
1993     792658
1994     782738
1995     791888
1996     795080
1997     775651
1998     784595
1999     762028
2000     798138
2001     799999
2002     757331
2003     740191
2004     720417
2005     714265
2006     730971
2007     719822
2008     726106
2009     707734
2010     700214
2011     661895
2012     668869
2013     660613

In [23]:
under15Frame

      Total Under 16
Year
1975        27220692
1976        27494000
1977        27651000
1978        27706000
1979        27660000
1980        27507078
1981        27601000
1982        27252000
1983        26909000
1984        26501000
1985        26033218
1986        25438000
1987        24750000
1988        23982000
1989        23203000
1990        22486239
1991        21906000
1992        21365000
1993        20841000
1994        20415000
1995        20013730
1996        19687000
1997        19367000
1998        19061000
1999        18741000
2000        18472499
2001        18284000
2002        18104000
2003        17908000
2004        17733000
2005        17521234
2006        17435000
2007        17294000
2008        17175000
2009        17011000
2010        16803444
2011        16707000
2012        16545000
2013        16392000

In [24]:
over65Frame

      Total Over 64
Year
1975        8865429
1976        9202000
1977        9561000
1978        9921000
1979       10309000
1980       10647356
1981       11012000
1982       11352000
1983       11670000
1984       11955000
1985       12468343
1986       12872000
1987       13322000
1988       13785000
1989       14310000
1990       14894595
1991       15582000
1992       16243000
1993       16902000
1994       17584000
1995       18260822
1996       19016000
1997       19757000
1998       20506000
1999       21185000
2000       22005152
2001       22867000
2002       23624000
2003       24310000
2004       24879000
2005       25672005
2006       26605000
2007       27459000
2008       28219000
2009       29006000
2010       29245685
2011       29748000
2012       30793000
2013       31900000

In [25]:
singleHomeFrame

      Single Homes
Year
1975       4236094
1980       5387595
1985       7894636
1990       9389660
1995      11239389
2000      12911318
2005      14457083
2010      16784507